/*! GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    cursor: pointer;
    text-decoration: none;
}
body{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    height: 100vh;
    z-index: -1;
    background: url(images/VECTORpc.png) black no-repeat ;    
}
h1{
    font-size: 70px;
    margin: 0px 100px;
}
h2{
font-size: 38px;
margin-bottom: 15px;
text-align: center;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}
.violet{
    padding: 30px;
    border: 2px solid #6D8373;
    border-radius: 15px;
    width: min(800px, 90vw);
    /* height: auto; */
    margin: 5px;
    text-align: justify;
}
  .slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1100px){
    h1{
        font-size: 50px;
        margin: 40px;
    }
    body{
        background: black;
    }
    .violet{        
        width: auto;
        height: auto;  
    
    }
    .p1 h2{
        text-align: end;
    }
}

/* ! SCROLL A DROITE */
.blocHorizontal {
    display: flex;
    width: 600vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.container {
    /* width: 100vh; */
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden; 
    /* backround-color: black; */
}
::-webkit-scrollbar {
    display: none;
}

/*! ACCUEIL */
/* menu burger */
.rond{
    /* background: #6D8373; */
    border: 2px solid #6D8373 ;
    border-radius: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    left: -55px;
    top: -55px;    
}
.rond.active{
    position: absolute;
    width: 400px;
    height: 400px;
    left: -60px;
    top: -60px;
    border-radius: 50%;
    background-color: rgba(109, 131, 115, .7); 
    border: 2px solid #6D8373 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease-in-out;
    /* transition: size 1s ease-in-out; */
    /* transition: height 1s ease-in-out; */

} 
.burger{
    height: 24px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    left: 80px;
    top: 100px;
}
.burger span{   
    width: 40px;
    height: 4px;
    background-color: white;
    display: block;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
    border-radius: 15px;    
}
.burger span::before, .burger span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color:white;
    transition: transform 0.5s ease-in-out;
    border-radius: 15px;}
.burger span::before{
    transform: translateY(-10px);
}
.burger span::after{
    transform: translateY(10px);
}
.burger.active span{
    background-color: transparent;
}
.burger.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}
.burger.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
}   
ul{
    display: none;
}
ul.active{
    display: block;
    list-style-type: none;
    padding: 30px;
    margin-top: 50px;
    line-height: 170%;
    font-size: 20px;
    color: white;
}
ul a:visited{
    color: white;
}


/* !INTRO CAROUSEL */
.intro{
    flex-direction: column;
}
.slider {
  width: 900px;
  margin: 0 15px;
} 
.slider img{
  width: 250px;
  /* height: 300px; */
  margin: 20px;
} 
.p1, .p2, .p3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 0px;  
}
/*! P1--------------------------- */
.p1{
    grid-template-rows: 20px auto auto;
}
.p1 .violet{
    grid-row: 2/4;
    grid-column: 2/4;
    align-self: flex-end;
    margin-bottom: 20px;
    height: auto;
}
.p1 .ombre{
    grid-row: 1/3;
    grid-column: 1/3;  
    align-self: flex-start; 
}
/*! p2----------------------------- */
.p2 .violet{
    grid-row: 1/3;
    grid-column: 1/3;
    padding-right: 170px;
    align-self: flex-start; 
    height: auto;

}
.p2 .ombre{
    grid-row: 2/4;
    grid-column: 2/4;
    margin-left: 200px;
    align-self: flex-end;
}
/*! p3----------------------------- */
.p3 .violet{
    grid-row: 1/3;
    grid-column: 2/4;
    padding-left: 170px;
    margin-top: 20px;
    margin-left: 140px;
}
.p3 .ombre{
    grid-row: 2/4;
    grid-column: 1/3;
}
.fin{
    /* display: flex; */
    flex-direction: column;
}
.citation{
    color: #6D8373;
    margin: 50px;
    font-style: oblique;
    font-size: 20px;
}
.citation p{
    font-size: 20px;
}
.citation figcaption{
    text-align: end;
}

/* !FOOTER */

/* menu burger */
.rondfin{
    background-color: rgba(109, 131, 115, .7); 
    border: 2px solid #6D8373 ;
    border-radius: 50%;
    position: absolute;
    width: 200px;
    height: 200px;
    right: -100px;
    bottom: -55px;    
}
.rondfin.active{
    position: absolute;
    width: 300px;
    height: 300px;
    right: -170px;
    bottom: -60px;
    border-radius: 50%;
    /* background: #6D8373; */
    border: 2px solid #6D8373 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.burgerfin{
    height: 24px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    left: 80px;
    top: 100px;
}
.burgerfin span{   
    width: 40px;
    height: 4px;
    background-color: white;
    display: block;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
    border-radius: 15px;    
}
.burgerfin span::before, .burgerfin span::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color:white;
    transition: transform 0.5s ease-in-out;
    border-radius: 15px;}
.burgerfin span::before{
    transform: translateY(-10px);
}
.burgerfin span::after{
    transform: translateY(10px);
}
.burgerfin.active span{
    background-color: transparent;
}
.burgerfin.active span::before{
    transform: translateY(0px) rotateZ(45deg);
}
.burgerfin.active span::after{
    transform: translateY(0px) rotateZ(-45deg);
} 
a{
    color: white;
}
a:visited{
    color: white;
} 

/* ? MEDIA---------------------------- */
@media (max-width: 900px){
  

    .container {
        background: url(images/VECTORmob.png) no-repeat center / cover;
        height: 100px;
    }                      
    .blocHorizontal{
        flex-direction: column;
    }    
   .slide{
       flex-direction: column;
       height: auto;
       /* width: 500px; */
   }
   h1{
       margin-top: 5Opx;
       font-size: 40px;
       text-align: center;
   }   
   .ombre{
       width: 90%;
       margin: 20px 0;
   }
   .violet{
       margin: 0;
       padding: 20px;
       width: 90%;
   }
   #haut{
       margin-top: 50px;
   }
   .rond.active{
    background: #6D8373;
   }
   .rond{
    border: none;
    width: 100px;
    height: 100px;
    background-color: #6D8373;
    top: -20px;
    left: -20px;
    z-index: 2;
   }
   .burger{
    left: 35px;
    top: 55px;
   }
   .burger.active{
    left: 75px;
    top: 95px;
   }
  /* .burger span, .burger span::before, .burger span::after, .burgerfin span, .burgerfin span::before, .burgerfin span::after{
     background-color: #6D8373; 
   } */
  
 
/*? P1--------------------------- */
.p1, .p2, .p3{
    display: flex;
    flex-direction: column-reverse ;
    justify-content: center;
    align-items: center;
}
.p1 .violet{
    margin-bottom: 0px;
    height: auto;
}
.p1 .ombre, .p2 .ombre, .p1 .violet, .p3 .violet, .p2 .violet {  
    align-self: unset; 
}

/*? p2----------------------------- */

.p2 .violet{
    padding-right: 20px;
}
.p2 .ombre{
    margin-left: 0px;
    margin-bottom: 20px;
}

/*? p3----------------------------- */

.p3 .violet{    
    padding-left:20px;
    margin-top: 0px;
    margin-left: 0px;
}


/*? !FOOTER */


.fin{
    margin: 20px 0;
}
.rondfin{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.rondfin.active, .burgerfin, .burgerfin span, .rondfin {
    position: unset;
} 

ul.active{
    margin-top: 0;
}
   /* ? SCROLL A DROITE */
   .blocHorizontal {
    transform: none;
    flex-direction: column;
}
.container {
    transform: none;
    height: 100vh;
    overflow-x: hidden;
}    
.menufin{
    text-align: center;
}
}

/*  Test API */
.yeah{
    transform: translateX(0);
    opacity: 1;
    transition: opacity 2s;   
}
.yeah.not-visible{
    transform: translateX(150px);
    opacity: 0;

}